html{
  font-size: 62.5%
}
@media (min-width: 767px){
  html{
    font-size: 76.5%
  }
}
@media (max-width: 575px){
  html{
    font-size: 52.5%
  }
}
html{
  font-size: 62.5%
}
html,
body{
  padding: 0;
  margin: 0;
}
*{
  font-size: 1rem;
  line-height: 1; 
  margin: 0;
  padding: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}
img{
  width: 100%
}
i{
  display: flex;
}
a{
  color: "#000";
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

ul,li{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}