.block {
    margin: 5px;
    display: inline-block;
}

.test {
    margin: 5px;
    display: inline-block;
    width: 300px;
    height: 444px;
    padding-bottom: 20px;
}

.div1 {
    padding: 10px;
}

.div2 {
    padding: 4px;
    font-size: 12px;
    width: 300px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
    display: inline-block;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    background-color: rgb(231, 230, 230);
    
}

.div2::-webkit-scrollbar {
    width: 6px;
    height: 2px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
}

.div2::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}